@import './normalize';
@import './fonts';
@import './variables/globals';
@import './themes/light';
@import './themes/dark';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

a {
  color: inherit;
}

input {
  outline: none;
  border: none;
}

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}

.content-page {
  display: flex;
  transition: 0.3s all;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
