@import './normalize.scss';
@import './fonts.scss';
@import './variables/globals.scss';
@import './themes/light.scss';
@import './themes/dark.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  overflow-x: hidden;
}

a {
  color: inherit;
}

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}

.content-page {
  display: flex;  
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}