.button {
  border: none;
  outline: none;
  cursor: pointer;
}

.primary {
  margin: 0 10px;
  padding: 5px 15px;
}

.secondary {
  background: lightgreen;
  margin: 0 15px;
  padding: 5px 10px;
  border: 1px dashed greenyellow;
  border-radius: 30%;
}