.button {
  border: none;
  outline: none;
  display: inline-block;
  cursor: pointer;
  color: var(--primary-color);
  font: var(--font-m);
  padding: 0 25px;
  min-height: 46px;
}

.default {
  background: none;
  color: inherit;
}

.primary {
  border: 1px solid var(--primary-bg-button-color);
  border-radius: 50px;
  color: inherit;
  background: var(--primary-bg-button-color);
}

.outline {
  border-radius: 50px;
  color: inherit;
  background: none;
  border: 1px solid var(--inverted-bg-color);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: 50%;
  transition: background 0.2s;
  padding: 0.35rem;
  width: 3rem;
  height: 3rem;

  &:hover {
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background: var(--hover-button);
  }
}
