.app.dark {
  --bg-color: #51565c;
  --inverted-bg-color: #2e3032;
  --primary-color: #fff;
  --secondary-color: #efebdc;
  --primary-bg-button-color: #a0a0a0;
  --hover-button: #67646465;
  --modal-bg-color: #242424;
}
