.navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: var(--secondary-color);
}

.links {
  margin-left: auto;

  & a:not(:last-child) {
    margin-right: 15px;
  }
}
